:root {
    --primary: #BA6FDD;
    --secondary: #402f7e;
    --off-white: #fafafa;
    --off-black: #212121;
    --off-grey-1: #1b191d;
    --off-grey-4: #d2d1df;
    --off-grey-5: #e5e5ef;
    --error: #B00020;
    --success: #55b000;
  }

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed", Sans-serif;
    color: var(--off-black);
}

p{
    font-family: "Courier New", Monospace;
    font-size: 14pt;
    color: var(--off-black);
}

h1{
    font-weight: 700;
    font-size: 100pt;
}

h2{
    font-weight: 700;
    font-size: 60pt;
}

h3{
    font-weight: 700;
    font-size: 40pt;
}

h4{
    font-weight: 700;
    font-size: 20pt;
}

.button{
    background-color: var(--primary); 
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 20px;
    border: 2pt solid var(--primary);
    color: var(--off-white);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover{
    background-color: var(--off-white);
    color: var(--primary);
}

.button_inverted{
    background-color: var(--off-white);
    color: var(--primary);
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 20px;
    border: 2pt solid var(--primary);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button_inverted:hover{
    background-color: var(--primary); 
    color: var(--off-white);
}

#icon{
    color: var(--off-white);
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}

#icon:hover{
    color: var(--secondary);

}

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    height: 15vh;
    margin: 0;
    display: flex;
    }

.header p{
    color: var(--off-white);
    display: inline;
}

.header p:hover{
    color: var(--secondary);
}

nav{
    width:100%;
    padding: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--off-white);
    font-size: 20px;
}

nav a{
    padding: 0 1%;
}

nav .header_title{
    margin-right: auto;
    font-family: "Roboto Condensed", Sans-serif;
    font-weight: 700;
    font-size: 100pt;
    text-decoration: none;
    color: var(--off-white);
}

footer{
    background-color: var(--off-grey-1);
    width:100%;
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    
}

footer p{
    color: var(--off-grey-5);
    font-size: 10pt;
}

.progress_border{
    width: 100%;
    height: 20px;
    border: 3px solid var(--off-grey-5);
}

.progress_bar{
    height:100%;
    background-color: var(--primary);
}

#progress_status{
    color: var(--primary);
}

.overlay{
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;

    background-color: var(--primary);
    background-color: rgba(186, 111, 221, 0.2);
    background-image: linear-gradient(45deg,rgba(186, 111, 221, 0.75), rgba(64, 47, 126, 0.75));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    justify-content: center;
    align-content: center;

    overflow: hidden;
    transition: 0.5s; 
}

.base_clamp{
    padding: 0% 2%;
}

.full_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-75{
    flex: left;
    width: 75%;
    padding: 0.5%;
}

.column-50{
    flex: left;
    width: 50%;
    padding: 0.5%;
}

.column-25{
    flex: left;
    width: 25%;
    padding: 0.5%;
}


.container{
    align-items: center;
    height: 100%;
    padding: 1%;
}

div.column_container{
    display: flex;
    align-items: center;
    height: 100%;
    
}

div.first_div{
    margin-top: 15vh;
}

.info_section{
    margin: 10% 0;
}

.info_section > h1{
    color: var(--primary);
    font-size: 180pt;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.info_section > h2{
    font-size: 100pt;
    margin: 0;
    margin-top: -7%;
    margin-left: 8%;
    width: 100%;
}

.button_section > .button{
    width: 60%;
    margin-top: 50%;
}

div.sources_list{
    background-color: var(--off-black);
    padding: 10% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sources_list table{
    table-layout: fixed;
    border-collapse: collapse;
    word-wrap: break-word;
    width: max-content;
}

.sources_list th{
    color: var(--off-white);
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 20pt;
    text-align: left;
    background-color: var(--primary);
    padding: 8px;
}

.sources_list .source_name{
    color: var(--off-white);
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 16pt;
    text-align: left;
    border-right: 1px solid var(--off-grey-5);
}

.sources_list .source_link{
    font-family: "Courier New", Monospace;
    font-size: 8pt;
}

.sources_list td{
    color: var(--off-white);
    font-family: "Courier New", Monospace;
    font-size: 14pt;
    text-align: left;
    border-bottom: 1px solid var(--off-grey-5);
    padding: 0% 1%;
}

.sources_list a{
    color: var(--off-white);
    font-size: 10pt;
}

.sources_list tr:hover{
    background-color: var(--primary);
    color: var(--off-black);
    
}

.overlay#confirmation_popup{
    bottom: 0;
    top: 60%;
    max-height: 40%;
}

.confirm_box{
    align-self: center;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5%;
}

.cta, .cta h2{
    background-color: var(--secondary);
    color: var(--off-white);
    text-align: center;
}