{% extends "base.html" %}  
{% block title %}Home{% endblock %}  

{% block content %}

    <div class="base_clamp">
        <div class="column_container">
        
            <div class="info_section column-75">
                <h1>{{defined_sources_ammount}}</h1>
                {% if defined_sources_ammount == 1 %}
                    <h2>Source Defined</h2>
                {% else %}
                    <h2>Sources Defined</h2>
                {% endif %}
            </div>
            <div class="button_section column-25">
                <a class="button" href= {{ url_for('Sources') }}>View Sources</a>
            </div>
        </div>
        
    </div>


{% endblock %}  
