{% extends "base.html" %}  
{% block title %}Update Sources{% endblock %}  

{% block content %}

<div>
    <div class="column_container base_clamp">
        <div class="form" style="margin: 5% 0;">
            <div class="login">
                <div class="login-header">
                    <h3>Edit Source List</h3>
                    <p>Please enter your source details.</p>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p class="error">{{msg}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    
                </div>
            </div>
            <form class="login-form" action={{ url_for('Trigger_Source_Update') }} method="post">
            <label for="source_name">Source Name</label>
            <input type="text" placeholder="source name" name="source_name" value="{{ source_name }}"/>
            <label for="source_url">Source Url</label>
            <input type="text" placeholder="source url" name="source_url" value="{{ source_url }}"/>
            <label for="hash_url">Hash Url</label>
            <input type="text" placeholder="hash url" name="hash_url" value="{{ hash_url }}"/>
            <label for="hash_type">Hash Type</label>
            <select name="hash_type" id="hash_type">
                <option value="md5">md5</option>
                <option value="sha256">sha256</option>
            </select><br><br><br>
            <script>Auto_Select_Dropdown("hash_type", "{{ hash_type }}")</script>
            
            
            <input type="hidden" name="current_url" value="{{ request.url }}"/>
            <button class="form_button">Update Source List</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}  